$white: #fff;
$gray: #393c49;
$primary: #ed9080;
$input-bg: #2d303e;
$input-border-color: $gray;
$input-padding-y: 1rem;
$input-padding-x: 1rem;
$input-border-radius: 0.6rem;
$input-line-height: 1.4;
$input-focus-box-shadow: 0 0 15px rgba(#fff, 0.1);
$input-focus-bg: $input-bg;
$input-focus-border-color: $gray;
$input-color: $white;
$card-cap-bg: darken($gray, 10%);
$card-border-color: $gray;
$card-bg: $gray;

@import "bootstrap/scss/bootstrap.scss";

html {
  font-size: 14px;
}

body {
  color: $white;
  background: #252836;
}
